.PostsScreen {
  padding: 20px;
  display: flex;
  .BackBtn {
    flex: 1;
    align-self: center;
  }
  .LeftPane {
    flex: 3;
    max-width: 30%;
  }
  .ContentPane {
    flex: 7;
    padding: 10px;
    margin-left: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 65px);
    align-self: center;
    img {
      max-width: 100%;
      max-height: calc(100vh - 120px);
    }
  }
  h3 {
    color: white;
  }
  a {
    color: #fc0f47;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin: auto;
    border: 1px solid #aaa;
    max-height: calc(100vh - 90px);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  li {
    text-align: left;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    > div {
      padding-left: 20px;
      display: flex;
      align-items: center;
      min-height: 60px;
    }
    h3 {
      padding: 10px;
      margin: 0;
      font-size: 16px;
      color: white;
    }
  }
  .HeaderBar {
    display: inline-block;
  }
  .thumbnail {
    max-width: 60px;
  }
  .TopicFilter {
    height: 40px;
    a {
      margin: 0 15px;
      line-height: 40px;
      color: blue;
      text-decoration: none;
      &.selected {
        color: #fc0f47;
      }
      &.unselected {
        color: grey;
      }
    }
  }
}

.PrevScreen {
  background: url('../../img/left-arrow.png');
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
}
